################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiTests/v17/TestStore/0
/.vs/ApiTests/FileContentIndex/d107a987-acf6-4a64-9306-edcd965e2d35.vsidx
